body{
    overflow-x: hidden;
    background: url('../images/about-main-bg.jpg');
}

.navBg{
    background-color: rgba(0, 22, 67, 0.75);
    z-index: 3;
}

.navBg a{
    color: #fff;
}

.navBg a:hover{
    color: #bcbcbc;
}

.navItems{
    margin-left: 3rem;
}

.navItems a{
    color: #fff;
    text-decoration: none;
}

.navItems a:hover{
    color: #bcbcbc;
}

.activeLink{
    font-weight: 700;
}

.heading{
    text-align: center;
    background: url('../images/aboutbg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin-top: -3rem;
}

.heading h1{
    margin: 10rem 0 0 0;
    color: #fff;
}

.text p{
    font-weight: 700;
}

/* Footer */
.footer{
    background: linear-gradient(to right, #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%);
    text-align: center;
    height: 5rem;
}

.footer .col-4{
    margin-top: 1.8rem;
    color: aliceblue;
}