body{
    overflow-x: hidden;
}

.navBg{
    background-color: rgba(0, 22, 67, 0.75);
    z-index: 3;
}

.navBg a{
    color: #fff;
}

.navBg a:hover{
    color: #bcbcbc;
}

.navItems{
    margin-left: 3rem;
}

.navItems a{
    color: #fff;
    text-decoration: none;
}

.navItems a:hover{
    color: #bcbcbc;
}

.activeLink{
    font-weight: 700;
}

.heading{
    text-align: center;
    background: url('../images/destinationbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin-top: -3rem;
}

.heading h1{
    margin: 9rem 0 0 0;
    color: #343434;
}